<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">DSpace @ IMS FORTH</h1>
          <p class="lead">This repository holds the research output of members of the Institute for Mediterranean Studies (IMS) – based in Rethymno, Crete. One of the 8 Institutes of the Foundation for Research and Technology Hellas (FORTH)</p>
        </div>
      </div>
      </div>
  </div>
<!-- <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small> -->
<p>The IMS research programs focus on the history and culture of Greece and other countries of the Mediterranean and the Black Sea in various historical periods, from prehistory to modern times. To date, its research focuses on three research axes, 1) Mediterranean History, 2) Mediterranean culture, 3) Geoinformatics technology for Culture and Environment, and is undertaken by ten teams of researchers based in the Institution’s research sections, centers, and labs.</p>
</div>
